aiohappyeyeballs
aiohttp
aiosignal
altair
annotated-types
anyio
attrs
blinker
cachetools
certifi
charset-normalizer
click
colorama
dataclasses-json
decorator
distro
edge-tts
ffmpeg-python
frozenlist
future
gitdb
GitPython
greenlet
groq
gTTS
h11
httpcore
httpx
httpx-sse
idna
imageio
imageio-ffmpeg
Jinja2
jiter
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
langchain
langchain-community
langchain-core
langchain-groq
langchain-text-splitters
langsmith
MarkupSafe
marshmallow=
moviepy
multidict
mypy-extensions
narwhals
nest-asyncio
numpy
openai
orjson
packaging
pillow
proglog
propcache
protobuf
pyarrow
PyAudio
pydantic
pydantic-settings
pydantic_core
pydeck
pydub
pypdf
PyPDF2
python-dateutil
python-dotenv
pytz
PyYAML
referencing
requests
requests-toolbelt
rpds-py
six
smmap
sniffio
SQLAlchemy
srt
streamlit
tabulate
tenacity
toml
tornado
tqdm
typing-inspect
typing-inspection
typing_extensions
tzdata
urllib3
watchdog
yarl
zstandard
